.feature-icon {
  stroke-width: 1.5;
}
.txt-grey .accordion-button {
  color: grey;
}

.accordion-btn .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.3);
}

.accordion-btn .accordion-button:not(.collapsed) {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.3);
  color: rgba(255, 0, 0, 0.766);
}

.service-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.3);
  border: none;
}

.our-service-type span {
  color: gray;
}
.our-service-type-icon {
  color: red;
}
.our-service-type:hover {
  background-color: red;
  transition: all ease 0.9s;
}
.our-service-type:hover span,
.our-service-type:hover .our-service-type-icon {
  color: white !important;
  font-weight: bold;
}
