.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../assets/hero/hero-header-bg.png");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: animateUpDown 8s ease infinite;
  z-index: -1;
}
@keyframes animateUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0);
  }
}
.hero-p {
  background-color: #ff576589;
}
.feature-icon {
  stroke-width: 1.5;
}

/* services */
.service-icon {
  width: 90px;
  height: 90px;
  border-radius: 45px 0 45px 0;
}
.service-div {
  background: #fff;
  box-shadow: 0 0 30px rgba(214, 214, 214, 0.6);
}

.service-div:hover {
  transform: translateY(-12px);
  transition: all ease 0.8s;
}

/* quote */
.quote-field:focus-within {
  border-color: #d813232d !important ;
  background-color: rgba(128, 128, 128, 0.084);
  box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.4);
}
.quote-field {
  background-color: #f1f1f1;
  padding: 10px 16px;
  height: 72px;
  border-radius: 4px;
}

.quote-field label {
  display: block;
  color: #8a94a6;
  font-size: 16px;
  margin-bottom: 2px;
}

.quote-field input,
.quote-field select,
.quote-field textarea {
  outline: none;
}

.message-field {
  height: 125px;
}

.message-field textarea {
  height: 85px;
  resize: none;
}
.sub-btn:hover {
  background-color: #b2202f;
  transition: all ease-in 0.6s;
}

/* project-icon */

.project-icon {
  width: 80px;
  height: 80px;
  background-color: #e31328;
}
.project-div:hover {
  background-color: #e31328;
  transition: all ease-in 0.3s !important;
}
.project-div:hover p {
  color: #fff;
}
.project-div:hover .project-icon {
  background-color: #f1f1f1;
}
.feature-icon {
  color: #fff;
}
.project-div:hover .feature-icon {
  color: #e31327;
}
/* team */
.team-div img {
  height: 400px;
  object-fit: cover;
}

.team-left-overlay,
.team-right-overlay {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #e313287c;
  transition: transform 0.5s ease;
  z-index: 1;
}

.team-left-overlay {
  left: 0;
  transform: translateX(-100%);
}

.team-right-overlay {
  right: 0;
  transform: translateX(100%);
}

.team-div:hover .team-left-overlay,
.team-div:hover .team-right-overlay {
  transform: translateX(0);
}

.team-content {
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease 0.4s;
}

.team-div:hover .team-content {
  opacity: 1;
}

/* swiper */
.testimonial-swiper {
  width: 100%;
  padding: 70px 0 50px;
  overflow: visible;
}

/* Every slide */

.testimonial-swiper .swiper-slide {
  opacity: 0.12;
  transition: opacity 0.5s ease;
}

/* Active / center slide */

.testimonial-swiper .swiper-slide-active {
  opacity: 1;
}

/* Main item */

.testimonial-item {
  position: relative;
  padding-top: 70px;
}

/* Client image */

.testimonial-img {
  position: absolute;

  top: 0;
  left: 50%;

  width: 110px;
  height: 110px;

  transform: translateX(-50%);

  z-index: 5;
}

.testimonial-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 50%;
}

/* Card */

.testimonial-card {
  width: 100%;
  min-height: 325px;

  padding: 110px 35px 30px;

  background: #ffffff;

  text-align: center;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);

  transition: all 0.5s ease;
}

/* Quote */

.quote-icon {
  margin-bottom: 15px;
}

.quote-icon i {
  font-size: 80px;

  line-height: 0.8;

  color: #e31328;
}

/* Text */

.testimonial-card p {
  max-width: 680px;

  margin: 0 auto 20px;

  color: #405777;

  font-size: 17px;
  line-height: 1.6;
}

/* Name */

.testimonial-card h3 {
  margin: 0 0 4px;

  color: #062c61;

  font-size: 26px;
  font-weight: 700;
}

/* Designation */

.testimonial-card span {
  color: #405777;

  font-size: 17px;

  font-style: italic;
}

/* Mobile */

@media (max-width: 767px) {
  .testimonial-swiper {
    overflow: hidden;
  }

  .testimonial-swiper .swiper-slide {
    opacity: 1;
  }

  .test-quote {
    padding: 50px 30px;
    background-position: 20px 30px;
  }

  .test-quote p {
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .newsletter {
    width: 100% !important;
  }
}
