.nav-container {
    nav {
        .navbar-brand {
            h1 {
                font-family: "Barlow", sans-serif;
                font-weight: 700;
                line-height: 1.2;
                color: #0b2154;
            }
        }

        .navbar-link {
            span {
                font-family: "Ubuntu", sans-serif;
                font-size: 18px;
            }

            .active {
                color: aliceblue;
            }

            :hover {
                color: aliceblue !important;
            }
        }
    }
}